#container{margin-left:100px;
# border:solid 3px black;
margin-right:100px;background:#BABACA}
#ct{
	# border:solid 3px black;
	background:#E21D44;
	height:620px;
}
#ft{
margin-top:8px;
 # border:solid 3px black ;background:#FFF9A8;}

/* Vermelho: E21D44 */
/* Amarelo: FFF9A8 */